body {
  background-image: url(../img/school.png);
}

.card {
  margin: 30px 70px;
}

.animation {
  background-image: url(../img/road-sm.png);
  background-repeat: repeat-x;
  height: 100px;
}

.car {
  transform: translate(0, 2px);
}
